astropy
datasets
dinov2 @ git+https://github.com/facebookresearch/dinov2.git@2302b6bf46953431b969155307b9bed152754069
huggingface_hub
jaxtyping
lightning[extra]
plotly
provabgs @ git+https://github.com/changhoonhahn/provabgs.git
pycairo
pyro-ppl
python-dotenv
scikit-image
scikit-learn
torchvision==0.15.0
wandb
